
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                 <a href="#home">HOME</a>
              </li>
              <li>
                 <a href="#about">ABOUT</a>
              </li>
              <li>
                 <a href="#event">COURSE INFO</a>
              </li>
              <li>
                 <a href="#raceday">RACE DAY</a>
              </li>
              <li>
                 <a href="#rules">RULES</a>
              </li>
              <li>
                 <a href="#faq">FAQ</a>
              </li>
              <li>
                 <a href="#volunteer">VOLUNTEER</a>
              </li>
              <li>
                  <a href="#scholarship">SCHOLARSHIP</a>
              </li>
              <li>
                  <a href="#sponsor">SPONSOR</a>
              </li>
              <li>
                 <a href="#results">RESULTS</a>
              </li>
              <li>
                <a class="btn btn-flat" href="#register">REGISTER</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
