<section id="info">
  <div class="fullheight">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 banner wow fadeInBigRight">
          <h1>{{site.data.info.eventinfo-title}}</h1>
          <hr>
          {% for paragraph in site.data.info.eventinfo-text %}
          <p>
            {{paragraph.paragraph}}
          </p>
          {% endfor %}

            {% if site.data.info.eventinfo-button-link %}

            <a class="btn btn-basic" href="{{site.data.info.eventinfo-button-link}}">{{site.data.info.eventinfo-button-text}}</a>
  {% endif %}
            {% if site.data.info.info-button2-link %}

            <a class="btn btn-basic-alt" href="{{site.data.info.eventinfo-button2-link}}">{{site.data.info.eventinfo-button2-text}}</a>
  {% endif %}
      </div>
    </div>
  </div>
</section>
