<section id="home" >
  <div class="video">
    <div class="float">
      <img src="/img/logo.png" alt="Berea Kentucky Splash and Dassh Youth triathalon" />
      <h1> {{site.data.info.landing-text-1}} </h1>
      <h1>{{site.data.info.landing-text-2}}</h1>
      <br>
      <h3>{{site.data.info.landing-text-3}}</h3>
      <a class="btn btn-basic" href="{{site.data.info.landing-button-link}}">{{site.data.info.landing-button-text}}</a>


    </div>
          <video muted loop autoplay poster="/img/cover.JPG">
      <source src="/img/cover.mp4" type="video/mp4">
    </video>

  </div>

</section>
