<section id="raceday">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>{{site.data.info.raceday-title}}</h1>
        <hr>
        {% for paragraph in site.data.info.raceday-text %}
        <p>
          {{paragraph.paragraph}}
        </p>
        {% endfor %}

        <div style="text-align:center;">
          {% if site.data.info.raceday-button-link %}

          <a class="btn btn-basic" href="{{site.data.info.raceday-button-link}}">{{site.data.info.raceday-button-text}}</a>
{% endif %}
          {% if site.data.info.raceday-button2-link %}

          <a class="btn btn-basic-alt" href="{{site.data.info.raceday-button2-link}}">{{site.data.info.raceday-button2-text}}</a>
{% endif %}
        </div>
      </div>

    </div>

  </div>
</section>
