<section id="rules">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Rules</h1>
        <hr>
        {% for paragraph in site.data.info.rules-text %}
        <p>
          {{paragraph.paragraph}}
        </p>
        {% endfor %}

        <div style="text-align:center;">
          <a class="btn btn-basic" href="{{site.data.info.rules-button-link}}">{{site.data.info.rules-button-text}}</a>
          <a class="btn btn-basic-alt" href="{{site.data.info.rules-button2-link}}">{{site.data.info.rules-button2-text}}</a>
        </div>
      </div>

    </div>

  </div>
</section>
